/*данный блок задает шрифт по умолчанию для всего HTML-документа, 
Press Start 2P - шрифт с пиксельной обводкой.*/
html {
    font-family: 'Press Start 2P';
    font-size: 2rem;
}
/*данный блок выполняет: установку отступов и полей; выравнивание текста по центру или горизонтали; 
установку ширины и высоты тела; установку цветов: фон, текст.*/
body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-color: rgb(105, 105, 105);
    color: white;
}
/*выравнивание + расположение*/
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/*в данном блоке кода происходит самое интересное!) занимаемся визуалом нашей кнопки! 
мы можем поменять размер, цвет, положение, вид курсора при наведении*/
#button {
    --color: rgb(230, 230, 250);
    --border-color: rgb(230, 230, 250);
    --shadow-color: rgb(50, 55, 61);
    /*позиционирование*/
    position: relative;
    /*уменьшение размера шрифта*/
    font-size: .75rem;
    /*размеры кнопки: ширина и высота*/
    width: 200px;
    height: 100px;
    max-width: 100%;
    max-height: 100%;
    /*внешние отступы*/
    margin: 2rem;
    border: none;
    background-size: cover;
    cursor: pointer;
    outline: none;
    color: rgb(75, 75, 85);
    font-family: 'Press Start 2P', monospace;
    font-weight: bold;
    /*фиксируем статичное положение цветов вокруг кнопки (когда она просто расположена
    на экране)*/
    background-color: var(--color);
    box-shadow: 0 -3px var(--color),
                3px 0 var(--color),
                0 3px var(--color),
                -3px 0 var(--color),
                0 -6px var(--border-color),
                3px -3px var(--border-color),
                6px 0 var(--border-color),
                0 6px var(--border-color),
                -3px 3px var(--border-color),
                -6px 0 var(--border-color),
                -3px -3px var(--border-color),
                3px 3px var(--border-color),
                0px 9px var(--shadow-color),
                3px 6px var(--shadow-color),
                6px 3px var(--shadow-color),
                0px 9px var(--shadow-color),
                -3px 6px var(--shadow-color),
                -6px 3px var(--shadow-color);
}

#button:active {
    /*этот блок изменяет стиль кнопки при ее нажатии! (6px - смещает кнопку вниз для эффекта нажатия)*/
    top: 6px;
	box-shadow: 0 -3px var(--color),
                3px 0 var(--color),
                0 3px var(--color),
                -3px 0 var(--color),
                0 -6px var(--border-color),
                3px -3px var(--border-color),
                6px 0 var(--border-color),
                0 6px var(--border-color),
                -3px 3px var(--border-color),
                -6px 0 var(--border-color),
                -3px -3px var(--border-color),
                3px 3px var(--border-color),
                0px 6px var(--shadow-color),
                3px 3px var(--shadow-color),
                6px 0px var(--shadow-color),
                0px 6px var(--shadow-color),
                -3px 3px var(--shadow-color),
                -6px 0px var(--shadow-color);
}

#display, #counter {
    height: 32px;
}